{% extends "layout.html" %}

{% block content %}
<div class="content-section">
     <form method="POST" action="" enctype= "multipart/form-data">
          {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Post</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
		<div class="form-group">
                    {{ form.picture.label() }}
		    {{ form.picture(class="form-control-file") }}
		    {% if form.picture.errors %}
		    	{% for error in form.picture.errors %}
                        	<span class="text-danger">{{ error }}</span></br> {# Break for having space between errors #}
										  {# , danger class to outline errors in red  #}
										  {# didn't did for other fields as they were wrapped #} 
                                                                                  {# in invalid-feedback field class.#}
                        
		    	{% endfor %}
		    {% endif %}
		</div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}